<div class="container">
    <h2>{{ isEdit ? 'Edit' : 'Add New' }} Recipe</h2>
    <!-- Success Message -->
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      {{ successMessage }}
    </div><br>
    <!-- Recipe Form -->
    <form #recipeForm="ngForm" (ngSubmit)="saveRecipe()">
      <!-- Recipe Title -->
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" [(ngModel)]="recipe.title" name="title" required placeholder="Enter title" />
        <div *ngIf="recipeForm.controls['title']?.invalid && recipeForm.controls['title']?.touched" class="error-message">
          Title is required.
        </div>
      </div>
      <!-- Recipe Ingredients -->
      <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <textarea id="ingredients" [(ngModel)]="recipe.ingredients" name="ingredients" required placeholder="Enter ingredients"></textarea>
        <div *ngIf="recipeForm.controls['ingredients']?.invalid && recipeForm.controls['ingredients']?.touched" class="error-message">
          Ingredients are required.
        </div>
      </div>
      <!-- Recipe Instructions -->
      <div class="form-group">
        <label for="instructions">Instructions</label>
        <textarea id="instructions" [(ngModel)]="recipe.instructions" name="instructions" required placeholder="Enter instructions"></textarea>
        <div *ngIf="recipeForm.controls['instructions']?.invalid && recipeForm.controls['instructions']?.touched" class="error-message">
          Instructions are required.
        </div>
      </div>
      <!-- Recipe Buttons -->
      <div class="button-group">
        <button type="submit" class="submitBtn" [disabled]="recipeForm.invalid || check">
          {{ isEdit ? 'Update' : 'Save' }}
        </button>
        <button *ngIf="!isEdit" type="button" class="resetBtn" (click)="resetForm()">Reset</button>
        <button type="button" class="cancelBtn" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
  